
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

  

}

:root {
  --transition: all 400ms ease; 
  --blue:#1e90ff;
  --black:#000000;
  --white:#ffffff;

 
  

}

body {
  font-family: "Poppins", sans-serif;
  background:#e3efff;
  

  

}

.container {
  margin: 0 auto;

}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;

  
}

h1 {
  font-size: 2.5rem;
  
}


section {
  height: 100vh;


}


a {
  transition: var(--transition)
}

a:hover {
  color:gold;

}

.btn {
  width: max-content;
  display: inline-block;

  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px ;
  transition: var(--transition);

}

.btn:hover {
  background: gold;
  color: black;
  border-color: transparent;
}

.btn-primary {
  background: orangered;
  color: white;
}

img {

  width: 100%;
  height:100%;
  float:left;

}

@media screen and (max-width:600px) {
  .container {
      width: var(--container-width-sm);

  }

  section>h2 {
      margin-bottom: 2rem;

  }
}

@media screen and (max-width:1024px) {
  .container {
      width: var(--container-width-md);

  }

  section>h2 {
      margin-bottom: 6rem;
  }
}
